*{
    margin: 0;
    padding: 0;
}
.hello{
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.headtwo{
    border-bottom: 1px solid #ddd; 

}
.links{
    font-size: 13px !important;
    font-weight: 600;
    color: #4f4f4f !important;
}
.linksearch{
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
}
.img_achy{
    width: 35px;
    height: 35px;
}


.Nactive{
    border-bottom: 2px solid black;
    position: relative;
}
.search{
    font-style: italic;
    font-weight: 500 !important;
    font-size: 14px !important;
}
.icon{
    width: 25px;
    height: 25px;
}
.lan_page{
    padding-right: 20px !important;
    padding-left:35px !important;
}
.pricing_banner{
    width: 100%;
    height: 400px;
}
.pric_stl{
    position: absolute;
    top: 35%;
    color: white;
    right: 33%;
}
.main{
    background-color: #f4f4f4;
}



